@model WebApplication6.Models.Venues
@{
    ViewData["Title"] = "Venues Details";
}

<h2>@Model.Name</h2>
<hr />

<dl class="row">
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Description</dd>


    <dt class="col-sm-3">City</dt>
    <dd class="col-sm-9">@Model.City</dd>

    <dt class="col-sm-3">Capacity</dt>
    <dd class="col-sm-9">@Model.Capacity</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">@Model.Address</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.ContactEmail</dd>
    
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to list</a>